body{
    background-color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 7px;
    height: 0%;
    box-shadow: 10px 10px 10px 10px blue;    
}

/* .contExp{
    display: flex;
    flex-direction: row;
} */

.contBlock{
    display: flex;
    border: 1px solid blue;
    margin: 1%;
    width: 96%;
    border-radius: 7px;
    

}

.contenu1{
    padding: 3% 6%;  
}

.contenu2{
    position: relative;
    left: 30%;
    margin: 5%;
}

.text{
    padding: 0% 20%;
}

.textSp{
    padding: -1%;
    width: 50%;
}

.textTi{
    padding: -1%;
    width: 50%;
    margin: 0%;
}

.contText{
    display: flex;
}

.textLang{
    padding: 0%;
    width: 50%;
}

.textNivo{
    padding: 0% 128%;
    width: 50%;

}